<% @contacts.each do |contact| %>
<table>
  <caption>Contact Info</caption>
  <tr>
    <th>Name</th>
    <td><%= link_to "#{contact.full_name}", "/contacts/#{contact.id}" %></td>
  </tr>
    <th>Email</th>
    <td><a href="mailto:<%= contact.email %>"><%= contact.email %></a></td>
  </tr>
  <tr>
    <th>Phone Number</th>
    <td><%= contact.phone %></td>
  </tr>
  <tr>
    <th>Bio</th>
    <td><%= contact.bio %></td>
  </tr>
</table><br>
<% end %>